/** Theme Resom **/
/** Author: Room 6 **/
/** Description: Custom theme for Resom **/
/** Version: 1.0 **/
/** -------------------------------------------------- **/
/** Search tags **/
/** QUESTION - | For Questions        **/
/** TODO -     | For To Do's          **/
/** PH -       | For Placeholders     **/
/** WIP -      | For Work in Progress **/
/** -------------------------------------------------- **/
/** Structure **/
/** * When commenting on a line put it **/
/**   directly above the line of code  **/

/** * All class names are in camelCase **/
/** -------------------------------------------------- **/
/** COLORS SCHEMES **/
$prime:  #96B3BA
$second: #D0D9DB
$third:  #405D64
$fourth: #FFFFFF
$accent: #D1B66F
/** COLORS SCHEMES **/
/** -------------------------------------------------- **/
/** DEFAULT SETTINGS **/
*
    margin: 0
    padding: 0

    box-sizing: border-box
    
    color: inherit

img
    width: 100%
    height: auto
    display: block
/** DEFAULT SETTINGS **/
/** -------------------------------------------------- **/
/** FONTS **/
p
    font-size: 18px
    font-family: noto-sans, sans-serif
    font-weight: 400
    font-style: normal
body
    font-family: century-gothic,sans-serif
    font-weight: 700
    font-style: normal
    overflow-x: hidden
h1
    font-size: 100px
h2
    font-size: 70px
h3
    font-size: 42px
a
    font-size: 18px
.centerTitle
    h1,h2,h3,h4,h5,h6
        text-align: center

@media screen and (max-width: 834px)
    h1, h2
        font-size: 42px
    h1,h2,h3,h4,h5,h6
        text-align: center
    .m-center
        text-align: center
    .m-box-center
        margin-left: auto
        margin-right: auto
    .m-p-size
        font-size: 22px

/** FONTS **/
/** -------------------------------------------------- **/
/** COLOR LAYOUTS **/
.whiteTheme
    color: $third
    background: $fourth
    h1,h2
        color: $prime
.grayTheme
    color: $third
    background: $second
.cyanTheme
    color: $fourth
    background: $prime
.darkCyanTheme
    color: $fourth
    background: $third
    
@media screen and (max-width: 375px)
    .s-whiteTheme
        color: $third
        background: $fourth
        h1,h2
            color: $prime
/** COLOR LAYOUTS **/
/** -------------------------------------------------- **/
/** CALL TO ACTION **/
.CTASmall, .CTABig
    color: $fourth
    background: $third
    border-radius: 36px

    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    transition: 100ms
    &:hover
        background: $accent
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    &:active
        box-shadow: none
    a
        text-decoration: none
.CTASmall
    width: 147px
    height: 48px
    a
        transform: translateY(-25%)
    .idkAnymore
        transform: translateY(-5%)
.CTASmall.whiteTheme
    color: $third
    background: $fourth
    &:hover
        color: $accent
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1)
    &:active
        box-shadow: none
.CTABig
    width: 218px
    height: 71px
    a
        transform: translateY(-5%)
        
/** CALL TO ACTION **/
/** -------------------------------------------------- **/
/** HEADER **/
header
    padding: 9px 67px

    position: sticky
    top: 0
    left: 0
    z-index: 100

    section
        align-items: center
        max-width: 1650px
        margin: 0 auto
    .logo
        width: 167px
        img
            display: block
    nav
        width: 50%
        > div
            width: 100%
        a
            text-decoration: none
            display: block
            font-size: 20px
            &:hover
                color: $accent

#menu-menu
    width: 100%
    display: flex
    justify-content: space-between
    li
        list-style: none
    
@media screen and (max-width: 834px)
    header
        height: 60px
        .logo img
            width: auto
            height: 42px
            margin: 0 auto

/** HEADER **/
/** -------------------------------------------------- **/
/** FOOTER **/
footer
    margin-top: 84px
    padding: 58px 102px 15px

    section
        max-width: 1650px
        margin: 0 auto
    li
        list-style: none
    ul
        margin-bottom: 60px
    h6
        font-size: 22px
        margin-bottom: 9px
    a
        font-size: 22px
        text-decoration: none
        font-family: noto-sans, sans-serif
        font-weight: 400
        font-style: normal
        &:hover
            color: $accent

@media screen and (max-width: 834px)
    footer
        li
            text-align: center
/** FOOTER **/
/** -------------------------------------------------- **/
/** BANNERS **/
.banner
    margin-top: 56px
    a
        text-decoration: none
        transition: 100
        &:hover > div
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
    
    div
        /** QUESTION - This supposed to break the color scheme? **/
        background: #F4F4F4
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
        transition: 100

        width: calc(100% - 37px)
        aspect-ratio: 311 / 243

        margin: 0 auto
        position: relative
        img
            position: absolute
    h3
        text-align: center

        margin-top: 35px
/** BANNERS **/
/** -------------------------------------------------- **/
/** PRODUCT BOX **/
.productBox
    position: relative
    padding: 62px  51px 88px 63px
    max-width: 498px
    width: 100%
    .info
        position: absolute
        bottom: 42px
        width: 80%
        > p
            font-size: 20px
        .containerJustifySpaceBetween
            margin-top: 26px
            align-items: center
    > p
        font-size: 20px
    li
        list-style-type: '✔'
        padding-inline-start: 1ch
        margin-left: 25px
        padding-left: 11px
        margin-bottom: .5em
        font-size: 20px
        font-family: noto-sans, sans-serif
        font-weight: 400
        font-style: normal
    .container
        justify-content: space-between
        align-items: space-between
.notChecked li
    list-style-type: '✖'
@media screen and (max-width: 1100px)
    .productBox
        &:last-of-type
            margin-top: 23px
        .info
            position: static
            width: 100%
            .containerJustifySpaceBetween
                flex-direction: column
                align-items: center
/** PRODUCT BOX **/
/** -------------------------------------------------- **/
/** INFO BOX **/
.infoBox
    margin-top: 84px
    padding: 29px 0 81px
/** INFO BOX **/
/** -------------------------------------------------- **/
/** IMAGES **/
.PH
    height: 100%
.imageContainer
    >div
        height: 100%
        min-height: 500px
        position: relative
        overflow: hidden
        >img
            position: absolute
            top: 0
            left: 50%
            width: auto
            height: 100%
            transform: translateX(-50%)
/** IMAGES **/
/** -------------------------------------------------- **/
/** CONTAINERS **/
.menu-menu-container
    display: flex
    align-items: center

.container, .containerAlignCenter, .containerJustifySpaceAround, .containerJustifySpaceBetween
    display: flex
    flex-wrap: wrap
.containerAlignCenter
    align-items: center
.containerJustifySpaceAround
    justify-content: space-around
.containerJustifySpaceBetween
    justify-content: space-between


.gutterLeft, .gutterBoth
    padding-left: .41666%
.gutterRight, .gutterBoth
    padding-right: .41666%
@media screen and (max-width: 834px)
    .gutterLeft, .gutterBoth
        padding-left: 9.3% !important
    .gutterRight, .gutterBoth
        padding-right: 9.3% !important
    .m-gutterLeft, .m-gutterBoth
        padding-left: 9.3% !important
    .m-gutterRight, .m-gutterBoth
        padding-right: 9.3% !important

@media screen and (max-width: 834px) 
    .m-gutterNone
        padding-left: 0 !important
        padding-right: 0 !important

.imageContainer
    min-height: 500px

.wrapper
    max-width: 1380px
    margin-left: auto
    margin-right: auto

.hero
    min-height: 90vh
    display: flex
    flex-direction: column
    justify-content: center
    h1
        margin-bottom: 30px
    p
        margin-bottom: 80px

@media screen and (max-width: 375px)
    .hero
        min-height: none

.heroArrow
    clip-path: polygon(0 0, 100% 0, 100% 95%, calc(50% + 50px) 95%, 50% 100%, calc(50% - 50px) 95%, 0 95%)

@media screen and (max-width: 1427px)
    .heroArrow
        h1
            font-size: 42px
        &.m-gutterBoth
            padding-left: 9.3% !important
            padding-right: 9.3% !important
        > .wrapper
            .m-col8
                width: 100%
            .m-disapear
                display: none

.circleContainer
    max-width: 500px
    height: 500px
    position: relative
    > div
        position: absolute
        width: 500px
        height: 500px
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        &:nth-of-type(1)
            clip-path: polygon(0 4%, 0 0, 100% 0, 100% 4%, 50% 52%)
        &:nth-of-type(2)
            clip-path: polygon(96% 0, 100% 0, 100% 100%, 96% 100%, 50% 52%)
        &:nth-of-type(3)
            clip-path: polygon(100% 100%, 0 100%, 50% 52%)
        &:nth-of-type(4)
            clip-path: polygon(4% 100%, 0 100%, 0 0, 4% 0, 50% 52%)
        img:hover
            transform: scale(1.2)
            transition: 100ms

body > .zigZagPattern:nth-of-type(even)
        flex-direction: row-reverse

.pageHeading
    /** cyanTheme **/
    div
        /** wrapper **/
        h1
            margin-top: 175px
            margin-bottom: 63px
            /** Col8 push1 **/
        figure
            /** Col2 push1 **/
            position: relative
            img
                position: absolute
                bottom: 0
                left: 0
                width: 100%
                height: auto
        
/** CONTAINERS **/
/** -------------------------------------------------- **/
/** SPACING **/
.smallLittleSpace
    padding-top: 23px
.littleSpace
    padding-top: 43px
.mediumSpace
    padding-top: 86px
.bigSpace
    padding-top: 94px
    
@media screen and (max-width: 834px)
    .m-space
        padding-top: 39px
/** SPACING **/
/** -------------------------------------------------- **/
/** COLUMNS **/
@for $i from 1 through 12
  .col#{$i}
    width: calc((100% / 12) * #{$i})
    padding-left: .41666% !important
    padding-right: .41666% !important
@for $i from 1 through 12
  .push#{$i}
    margin-left: calc((100% / 12) * #{$i})

@media screen and (max-width: 834px)
    @for $i from 1 through 8
        .m-col#{$i}
            width: calc((100% / 8) * #{$i}) !important
            padding-left: .41666%
            padding-right: .41666%
    @for $i from 1 through 8
        .m-push#{$i}
            margin-left: calc((100% / 8) * #{$i}) !important


@media screen and (max-width: 375px)
    @for $i from 1 through 4
        .s-col#{$i}
            width: calc((100% / 4) * #{$i}) !important
            padding-left: .41666% !important
            padding-right: .41666% !important
    @for $i from 1 through 4
        .s-push#{$i}
            margin-left: calc((100% / 4) * #{$i}) !important

/** COLUMNS **/
/** -------------------------------------------------- **/
/** SCALING **/
.disapear
    display: none

@media screen and (max-width: 834px)
    .m-disapear
        display: none
    .m-appear
        display: block
    .m-pushNone
        margin-left: 0
    .m-heightAuto
        height: auto
        
@media screen and (max-width: 375px)
    .s-disapear
        display: none
    .s-appear
        display: block
    .s-pushNone
        margin-left: 0
    .s-flexReverse
        flex-direction: column-reverse
/** SCALING **/
/** -------------------------------------------------- **/
/** BURGER **/    
.burger
    position: absolute
    top: 50%
    right: 9.3%
    transform: translateY(-50%)
/** BURGER **/
/** -------------------------------------------------- **/
/** SIDE NAV **/
.sideNav
    position: fixed
    top: 0
    transform: translateX(-100%)

    z-index: 101

    max-width: 375px
    width: 100%
    height: 100vh

    transition: 500ms
    .sideNavHeader
        height: 60px
        position: relative
    a
        font-size: 30px
        text-decoration: none
        font-weight: bold
    p
        margin-bottom: 1em
.sideNav.on
    transform: translateX(0%)

@media screen and (min-width: 834px)
    .sideNav.on
        transform: translateX(-100%)
        
/** SIDE NAV **/
/** -------------------------------------------------- **/
/** ABOUT BOX **/

.aboutContainer
    margin-top: 113px
    padding: 0 5.65% 0 7%

.aboutContainer article
    padding: 36px 7.73% 34px 11.28%
    border-radius: 10px
    position: relative
    margin-top: 89px

.aboutContainer .aboutPicture
    width: 165px
    min-width: 100px
    aspect-ratio: 1
    border-radius: 50%
    overflow: hidden
    position: absolute
    top: 0
    left: 0
    transform: translate(-50%, -50%)
    background: #405D64
    padding: 1px 3px 3px 1px
.aboutContainer article:nth-of-type(even) .aboutPicture
    left: 100%
    transform: translate(-50%, -50%)

.aboutContainer .aboutPicture img
    border-radius: 50%

.aboutTitleText
    position: absolute
    top: -79px
    color: #405D64

.aboutContainer article:nth-of-type(even) .aboutTitleText
    right: 12.27%

.aboutDottedLines
    margin-top: 10px

.aboutDottedLines:nth-of-type(odd)
    display: flex
    justify-content: flex-end

@media screen and (max-width: 1100px) 
    .aboutContainer
        padding: 0

    .aboutContainer article
        padding: 30px
        margin-top: 250px

    .aboutContainer .aboutPicture
        transform: translateY(-100%)
        top: -16px
    .aboutContainer article:nth-of-type(even) .aboutPicture
        left: 100%
        transform: translate(-100%, -100%)

    .aboutTitleText
        top: -135px

    .aboutTitleText p
        font-size: 20px

    .aboutContainer article:nth-of-type(odd) .aboutTitleText
        left: 21.72%
    .aboutContainer article:nth-of-type(even) .aboutTitleText
        right: 21.72%

    .aboutDottedLines, .aboutDottedLines:nth-of-type(odd)
        display: none

@media screen and (max-width: 834px) 
    .aboutContainer article
        border-radius: 0
        margin-top: 297px

    .aboutContainer .aboutPicture, .aboutContainer article:nth-of-type(even) .aboutPicture
        top: -92px
        left: 50%
        transform: translate(-50%, -100%)

    .aboutContainer article:nth-of-type(odd) .aboutTitleText, .aboutContainer article:nth-of-type(even) .aboutTitleText
        top: -87px
        left: 0%
        width: 100%

    .aboutContainer article .aboutTitleText p
        text-align: center

/** ABOUT BOX **/ 
/** -------------------------------------------------- **/
/** CUSTOM **/
.nurseIllustration, .phoneIllustration, .piggyIllustration, .bankIllustration
    display: block

.nurseIllustration
    width: 76.263990%
    margin-left: 6.625498%
    height: 112.50232%
    margin-top: -5.585903%

.nurseHeading
    margin-bottom: calc(-4.98237007511881% - 1px)

.phoneIllustration
    width: 75.395600%
    margin-left: 12.286118%
    height: 77.705672%
    margin-top: 11.130734%

.phoneHeading
    margin-bottom: 2.093013520867345%

.piggyIllustration
    width: 75.093271%
    margin-left: 12.446931%
    height: 110.091592%
    margin-top: -13.636176%

.bankIllustration
    width: 86.613919%
    margin-left: 6.786311%
    height: 117.636669%
    margin-top: -7.762763%

.bankHeading
    margin-bottom: -2.766014834794336%

.modelHeading
    width: 88% !important

.undervisereHeading
    width: 75% !important
  
/** CUSTOM **/
/** -------------------------------------------------- **/
/* Style WC Account Endpoint Links */

/*My Styling*/
.woocommerceContainer
    min-height: 90vh
    display: flex
    margin-bottom: -84px

.woocommerce-MyAccount-content
    padding: 1em


.wcmamtx_menu_left
    padding: 1em
    background: #405D64
    overflow: hidden
    ul
        li
            list-style: none
            margin-bottom: .8em
            a
                text-decoration: none

.aiovg-categories
    width: 100%
    display: flex
    align-items: center
    .aiovg-row
        margin: 0 !important
        width: 100%

.aiovg-col-3
    padding: 5%
    &:first-of-type
        margin-left: 5%

.aiovg-videos
    padding: 2%

@media only screen and (min-width: 481px)
    .aiovg-row
        .aiovg-col-3
            width: 45% !important

.woocommerce-MyAccount-content
    max-width: 700px

@media only screen and (max-width: 834px)
    .woocommerceContainer
        flex-direction: column

input
    background: #FFF
    color: $third
    border: none
    border-radius: 10px
    padding: .8em

fieldset
    border: none

  
/*My Styling*/
/*Default Styling*/

/*nav.woocommerce-MyAccount-navigation ul
  list-style-type: none
  padding-left: 0
  max-width: 200px
  font-size: 17px
  line-height: 26px

/*nav.woocommerce-MyAccount-navigation ul li 
  padding: 8px 20px
  background-color: rgba(0,0,0,0.05)
  border-bottom: 1px solid rgba(0,0,0,0.05)

/*nav.woocommerce-MyAccount-navigation ul li.is-active 
  background-color: rgba(0,0,0,0.1)

/*nav.woocommerce-MyAccount-navigation ul li.is-active a 
  color: rgba(0,0,0,0.8)
  cursor: default

/*nav.woocommerce-MyAccount-navigation ul li.is-active:after 
  content: ""
  height: 0
  width: 0
  border-top: 20px solid transparent
  border-left: 14px solid rgba(0,0,0,0.1)
  border-bottom: 20px solid transparent
  float: right
  margin-right: -34px
  margin-top: -7px

/*nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover 
  background-color: rgba(0,0,0,0.07)

/*nav.woocommerce-MyAccount-navigation ul li:not(.is-active):hover:after 
  content: ""
  height: 0
  width: 0
  border-top: 20px solid transparent
  border-left: 14px solid rgba(0,0,0,0.07)
  border-bottom: 20px solid transparent
  float: right
  margin-right: -34px
  margin-top: -7px

/*Default Styling*/
