@charset "UTF-8";
/** Theme Resom **/
/** Author: Room 6 **/
/** Description: Custom theme for Resom **/
/** Version: 1.0 **/
/** -------------------------------------------------- **/
/** Search tags **/
/** QUESTION - | For Questions        **/
/** TODO -     | For To Do's          **/
/** PH -       | For Placeholders     **/
/** WIP -      | For Work in Progress **/
/** -------------------------------------------------- **/
/** Structure **/
/** * When commenting on a line put it **/
/**   directly above the line of code  **/
/** * All class names are in camelCase **/
/** -------------------------------------------------- **/
/** COLORS SCHEMES **/
/** COLORS SCHEMES **/
/** -------------------------------------------------- **/
/** DEFAULT SETTINGS **/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

/** DEFAULT SETTINGS **/
/** -------------------------------------------------- **/
/** FONTS **/
p {
  font-size: 22px;
  font-family: noto-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: century-gothic,sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 42px;
}

a {
  font-size: 22px;
}

.centerTitle h1, .centerTitle h2, .centerTitle h3, .centerTitle h4, .centerTitle h5, .centerTitle h6 {
  text-align: center;
}

@media screen and (max-width: 834px) {
  h1, h2 {
    font-size: 42px;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  .m-center {
    text-align: center;
  }
  .m-box-center {
    margin-left: auto;
    margin-right: auto;
  }
  .m-p-size {
    font-size: 22px;
  }
}

/** FONTS **/
/** -------------------------------------------------- **/
/** COLOR LAYOUTS **/
.whiteTheme {
  color: #405D64;
  background: #FFFFFF;
}

.whiteTheme h1, .whiteTheme h2 {
  color: #96B3BA;
}

.grayTheme {
  color: #405D64;
  background: #D0D9DB;
}

.cyanTheme {
  color: #FFFFFF;
  background: #96B3BA;
}

.darkCyanTheme {
  color: #FFFFFF;
  background: #405D64;
}

@media screen and (max-width: 375px) {
  .s-whiteTheme {
    color: #405D64;
    background: #FFFFFF;
  }
  .s-whiteTheme h1, .s-whiteTheme h2 {
    color: #96B3BA;
  }
}

/** COLOR LAYOUTS **/
/** -------------------------------------------------- **/
/** CALL TO ACTION **/
.CTASmall, .CTABig {
  color: #FFFFFF;
  background: #405D64;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.CTASmall a, .CTABig a {
  text-decoration: none;
}

.CTASmall {
  width: 147px;
  height: 48px;
}

.CTASmall a {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.CTASmall .idkAnymore {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

.CTASmall.whiteTheme {
  color: #405D64;
  background: #FFFFFF;
}

.CTABig {
  width: 218px;
  height: 71px;
}

.CTABig a {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

/** CALL TO ACTION **/
/** -------------------------------------------------- **/
/** HEADER **/
header {
  padding: 9px 67px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

header .logo {
  width: 167px;
}

header .logo img {
  display: block;
}

header nav {
  width: 50%;
}

header nav > div {
  width: 100%;
}

header nav a {
  text-decoration: none;
  display: block;
}

#menu-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu-menu li {
  list-style: none;
}

@media screen and (max-width: 834px) {
  header {
    height: 60px;
  }
  header .logo img {
    width: auto;
    height: 42px;
    margin: 0 auto;
  }
}

/** HEADER **/
/** -------------------------------------------------- **/
/** FOOTER **/
footer {
  margin-top: 252px;
  padding: 58px 102px 15px;
}

footer li {
  list-style: none;
}

footer ul {
  margin-bottom: 60px;
}

footer h6 {
  font-size: 22px;
  margin-bottom: 9px;
}

footer a {
  font-size: 22px;
  text-decoration: none;
  font-family: noto-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 834px) {
  footer li {
    text-align: center;
  }
}

/** FOOTER **/
/** -------------------------------------------------- **/
/** BANNERS **/
.banner {
  margin-top: 56px;
}

.banner div {
  /** QUESTION - This supposed to break the color scheme? **/
  background: #F4F4F4;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: calc(100% - 37px);
  aspect-ratio: 311 / 243;
  margin: 0 auto;
  position: relative;
}

.banner div img {
  position: absolute;
}

.banner h3 {
  text-align: center;
  margin-top: 35px;
}

/** BANNERS **/
/** -------------------------------------------------- **/
/** PRODUCT BOX **/
.productBox {
  position: relative;
  padding: 62px  51px 88px 63px;
  max-width: 498px;
  width: 100%;
}

.productBox .info {
  position: absolute;
  bottom: 42px;
  width: 80%;
}

.productBox .info > p {
  font-size: 20px;
}

.productBox .info .containerJustifySpaceBetween {
  margin-top: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productBox > p {
  font-size: 20px;
}

.productBox li {
  list-style-type: '✔';
  -webkit-padding-start: 1ch;
          padding-inline-start: 1ch;
  margin-left: 25px;
  padding-left: 11px;
  margin-bottom: .5em;
  font-size: 20px;
  font-family: noto-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.productBox .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

@media screen and (max-width: 1100px) {
  .productBox:last-of-type {
    margin-top: 23px;
  }
  .productBox .info {
    position: static;
    width: 100%;
  }
  .productBox .info .containerJustifySpaceBetween {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/** PRODUCT BOX **/
/** -------------------------------------------------- **/
/** INFO BOX **/
.infoBox {
  margin-top: 84px;
  padding: 29px 0 81px;
}

/** INFO BOX **/
/** -------------------------------------------------- **/
/** IMAGES **/
.PH {
  background: #D1D1D1;
  height: 100%;
}

.imageContainer > div {
  height: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

.imageContainer > div > img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/** IMAGES **/
/** -------------------------------------------------- **/
/** CONTAINERS **/
.container, .containerAlignCenter, .containerJustifySpaceAround, .containerJustifySpaceBetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.containerAlignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerJustifySpaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.containerJustifySpaceBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gutterLeft, .gutterBoth {
  padding-left: .41666%;
}

.gutterRight, .gutterBoth {
  padding-right: .41666%;
}

@media screen and (max-width: 834px) {
  .gutterLeft, .gutterBoth {
    padding-left: 9.3% !important;
  }
  .gutterRight, .gutterBoth {
    padding-right: 9.3% !important;
  }
  .m-gutterLeft, .m-gutterBoth {
    padding-left: 9.3% !important;
  }
  .m-gutterRight, .m-gutterBoth {
    padding-right: 9.3% !important;
  }
}

.imageContainer {
  min-height: 600px;
}

.wrapper, .woocommerce {
  max-width: 1580px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  margin-bottom: 30px;
}

.hero p {
  margin-bottom: 80px;
}

@media screen and (max-width: 375px) {
  .hero {
    min-height: none;
  }
}

.zigZagPattern:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/** CONTAINERS **/
/** -------------------------------------------------- **/
/** SPACING **/
.smallLittleSpace {
  padding-top: 23px;
}

.littleSpace {
  padding-top: 43px;
}

.mediumSpace {
  padding-top: 86px;
}

.bigSpace {
  padding-top: 94px;
}

@media screen and (max-width: 834px) {
  .m-space {
    padding-top: 39px;
  }
}

/** SPACING **/
/** -------------------------------------------------- **/
/** COLUMNS **/
.col1 {
  width: calc((100% / 12) * 1);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col2 {
  width: calc((100% / 12) * 2);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col3 {
  width: calc((100% / 12) * 3);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col4 {
  width: calc((100% / 12) * 4);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col5 {
  width: calc((100% / 12) * 5);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col6 {
  width: calc((100% / 12) * 6);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col7 {
  width: calc((100% / 12) * 7);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col8 {
  width: calc((100% / 12) * 8);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col9 {
  width: calc((100% / 12) * 9);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col10 {
  width: calc((100% / 12) * 10);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col11 {
  width: calc((100% / 12) * 11);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.col12 {
  width: calc((100% / 12) * 12);
  padding-left: .41666% !important;
  padding-right: .41666% !important;
}

.push1 {
  margin-left: calc((100% / 12) * 1);
}

.push2 {
  margin-left: calc((100% / 12) * 2);
}

.push3 {
  margin-left: calc((100% / 12) * 3);
}

.push4 {
  margin-left: calc((100% / 12) * 4);
}

.push5 {
  margin-left: calc((100% / 12) * 5);
}

.push6 {
  margin-left: calc((100% / 12) * 6);
}

.push7 {
  margin-left: calc((100% / 12) * 7);
}

.push8 {
  margin-left: calc((100% / 12) * 8);
}

.push9 {
  margin-left: calc((100% / 12) * 9);
}

.push10 {
  margin-left: calc((100% / 12) * 10);
}

.push11 {
  margin-left: calc((100% / 12) * 11);
}

.push12 {
  margin-left: calc((100% / 12) * 12);
}

@media screen and (max-width: 834px) {
  .m-col1 {
    width: calc((100% / 8) * 1) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col2 {
    width: calc((100% / 8) * 2) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col3 {
    width: calc((100% / 8) * 3) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col4 {
    width: calc((100% / 8) * 4) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col5 {
    width: calc((100% / 8) * 5) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col6 {
    width: calc((100% / 8) * 6) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col7 {
    width: calc((100% / 8) * 7) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-col8 {
    width: calc((100% / 8) * 8) !important;
    padding-left: .41666%;
    padding-right: .41666%;
  }
  .m-push1 {
    margin-left: calc((100% / 8) * 1) !important;
  }
  .m-push2 {
    margin-left: calc((100% / 8) * 2) !important;
  }
  .m-push3 {
    margin-left: calc((100% / 8) * 3) !important;
  }
  .m-push4 {
    margin-left: calc((100% / 8) * 4) !important;
  }
  .m-push5 {
    margin-left: calc((100% / 8) * 5) !important;
  }
  .m-push6 {
    margin-left: calc((100% / 8) * 6) !important;
  }
  .m-push7 {
    margin-left: calc((100% / 8) * 7) !important;
  }
  .m-push8 {
    margin-left: calc((100% / 8) * 8) !important;
  }
}

@media screen and (max-width: 375px) {
  .s-col1 {
    width: calc((100% / 4) * 1) !important;
    padding-left: .41666% !important;
    padding-right: .41666% !important;
  }
  .s-col2 {
    width: calc((100% / 4) * 2) !important;
    padding-left: .41666% !important;
    padding-right: .41666% !important;
  }
  .s-col3 {
    width: calc((100% / 4) * 3) !important;
    padding-left: .41666% !important;
    padding-right: .41666% !important;
  }
  .s-col4 {
    width: calc((100% / 4) * 4) !important;
    padding-left: .41666% !important;
    padding-right: .41666% !important;
  }
  .s-push1 {
    margin-left: calc((100% / 4) * 1) !important;
  }
  .s-push2 {
    margin-left: calc((100% / 4) * 2) !important;
  }
  .s-push3 {
    margin-left: calc((100% / 4) * 3) !important;
  }
  .s-push4 {
    margin-left: calc((100% / 4) * 4) !important;
  }
}

/** COLUMNS **/
/** -------------------------------------------------- **/
/** SCALING **/
.disapear {
  display: none;
}

@media screen and (max-width: 834px) {
  .m-disapear {
    display: none;
  }
  .m-appear {
    display: block;
  }
  .m-pushNone {
    margin-left: 0;
  }
  .m-heightAuto {
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .s-disapear {
    display: none;
  }
  .s-appear {
    display: block;
  }
  .s-pushNone {
    margin-left: 0;
  }
  .s-flexReverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

/** SCALING **/
/** -------------------------------------------------- **/
/** BURGER **/
.burger {
  position: absolute;
  top: 50%;
  right: 9.3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/** BURGER **/
/** -------------------------------------------------- **/
/** SIDE NAV **/
.sideNav {
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 101;
  max-width: 375px;
  width: 100%;
  height: 100vh;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.sideNav .sideNavHeader {
  height: 60px;
  position: relative;
}

.sideNav a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
}

.sideNav p {
  margin-bottom: 1em;
}

.sideNav.on {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media screen and (min-width: 834px) {
  .sideNav.on {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/** SIDE NAV **/
/** -------------------------------------------------- **/
/** CUSTOM **/
.nurseIllustration, .phoneIllustration, .piggyIllustration, .bankIllustration {
  display: block;
}

.nurseIllustration {
  width: 76.263990%;
  margin-left: 6.625498%;
  height: 112.50232%;
  margin-top: -5.585903%;
}

.phoneIllustration {
  width: 75.395600%;
  margin-left: 12.286118%;
  height: 77.705672%;
  margin-top: 11.130734%;
}

.piggyIllustration {
  width: 75.093271%;
  margin-left: 12.446931%;
  height: 110.091592%;
  margin-top: -13.636176%;
}

.bankIllustration {
  width: 86.613919%;
  margin-left: 6.786311%;
  height: 117.636669%;
  margin-top: -7.762763%;
}

/** CUSTOM **/
/** -------------------------------------------------- **/
/*# sourceMappingURL=style.css.map */