/** Search tags **/
/** QUESTION - | For Questions        **/
/** TODO -     | For To Do's          **/
/** PH -       | For Placeholders     **/
/** WIP -      | For Work in Progress **/
/** -------------------------------------------------- **/
/** Structure **/
/** * When commenting on a line put it **/
/**   directly above the line of code  **/

/** * All class names are in camelCase **/
/** -------------------------------------------------- **/
/** COLORS SCHEMES **/
$prime:  #96B3BA
$second: #D0D9DB
$third:  #405D64
$fourth: #FFFFFF
$accent: #D1B66F
/** COLORS SCHEMES **/
/** -------------------------------------------------- **/
/** DEFAULT SETTINGS **/
*
    margin: 0
    padding: 0

    box-sizing: border-box
    
    color: inherit
/** DEFAULT SETTINGS **/
/** -------------------------------------------------- **/
/** FONTS **/
p, body
    font-size: 22px
h1
    font-size: 100px
h2
    font-size: 70px
h3
    font-size: 42px
a
    font-size: 35px
/** FONTS **/
/** -------------------------------------------------- **/
/** COLOR LAYOUTS **/
.whiteTheme
    color: $third
    background: $fourth
    h1,h2
        color: $prime
.grayTheme
    color: $third
    background: $second
.cyanTheme
    color: $fourth
    background: $prime
/** COLOR LAYOUTS **/
/** -------------------------------------------------- **/
/** CALL TO ACTION **/
.CTA
    width: 218px
    height: 71px
    
    color: $fourth
    background: $third

    display: flex
    justify-content: center
    align-items: center
    &:hover
        
    &:active
        
/** CALL TO ACTION **/
/** -------------------------------------------------- **/
/** HEADER **/
header
    .logo
        
    .container
        color: $fourth

        width: 746px

        justify-content: space-between
        /** Login should be .CTA **/

/** HEADER **/
/** -------------------------------------------------- **/
/** PRODUCT BOX **/
.productBox
    padding: 62px  51px 44px 63px
    > p
        font-size: 25px
    li
        > p
            font-size: 20px
    .container
        justify-content: space-between
        align-items: center
/** PRODUCT BOX **/
/** -------------------------------------------------- **/
/** INFO BOX **/
.infoBox
    padding: 29px 0 81px
/** INFO BOX **/
/** -------------------------------------------------- **/
/** CONTAINERS **/
.container, .containerAlignCenter
    display: flex
    flex-wrap: wrap
.containerAlignCenter
    text-align: center
/** CONTAINERS **/
/** -------------------------------------------------- **/
/** COLUMNS **/
@for $i from 1 through 12
  .col#{$i}
    width: calc((100% / 12) * #{$i})
@for $i from 1 through 12
  .push#{$i}
    margin-right: calc((100% / 12) * #{$i})
/** COLUMNS **/
/** -------------------------------------------------- **/
/** Responsible for this code **/
/** - Niclas V Nielsen **/
/** https://www.linkedin.com/in/niclas-nielsen-14a173206/ **/
